<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650570498112-dugrokcpmtc92na74qufod5u32rb36fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650570498112-dugrokcpmtc92na74qufod5u32rb36fb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>650570498112-g43rni246k7adn3usipe2gr95gclgr6p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-SuX1FeqpE20bqfnH0FDAse-t0tOnBHo</string>
	<key>GCM_SENDER_ID</key>
	<string>650570498112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingliquids.budgetAppStarting</string>
	<key>PROJECT_ID</key>
	<string>budget-app-b8d08</string>
	<key>STORAGE_BUCKET</key>
	<string>budget-app-b8d08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650570498112:ios:1fb8919f87297ad46f1fa5</string>
</dict>
</plist>